.filters {
	background-color: white;
	height: 70px;
	width: 1000px;
	border: 1px #DDDDDD solid;
	border-radius: 4px;
	position: relative;			
}
button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	position: absolute;	
	border-radius: 4px;
	right: 30px;
        border-style: none;
	bottom: 10px;		
}

button:hover {
	opacity: 0.9;
}			
